<div>
  <app-edit-template
  [titulo]="titulo"
  [dataForEdit]="dataForEdit"
  [redirect]="redirectForPerguntas"
  [dataUtils]="dataUtils"
  [goBack]="goBack"
  [take]="take"
  [component]="component"
  [onDialogClosed]="loadPerguntas.bind(this)"
  ></app-edit-template>

  <div class="example-button-container" style="background-color: blueviolet;">
    <button (click)="advancePage()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </div>

  <div class="example-button-container">
    <button (click)="returnPage()" style="background-color: yellowgreen;">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </div>
</div>
