body{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    border: 1px solid red;
    padding: 4rem 8rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.container .img-class{
    width: 259px;
    height: 216px;
}

.container form{
    display: flex;
    flex-direction: column;
}


.container form .new-password{
    display: flex;
    justify-content: end;
    margin-top: -20px;
    padding-right: 7px;
}

.container form .submit-button{
    margin-top: 25px;
}

#search-form{
    .mdc-floating-label{
        top: 50%; 
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
        --mat-mdc-form-field-label-transform: translateY(-28px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
    }

    .mat-mdc-text-field-wrapper {
        width: 350px;
        height: 45px;
    }

    .mdc-text-field{
        align-items: center;
        border-top-right-radius: var(--mdc-shape-small, 15px) !important;
    }
     
}