app-reset-password-dialog{
    
    .container-dialog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        
        .button-close{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
        
            margin-top: 10px;
            padding-right: 10px;
        
            svg{
                width: 30px;
                height: 30px;
            }
        
            .mat-mdc-focus-indicator{
                background-color: white;
            }
        }
        
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        
            margin-bottom: 2.5rem;
            padding: 2rem 6rem;
    
            h1{
                font-weight: 700;
                font-size: 35px;
                margin-bottom: 25px;
            }

            p{
                color: var(--gray-lite);
                font-weight: 500;
                margin-bottom: 30px;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 4px;

                .mat-mdc-button-touch-target{
                    height: 45px;
                    background-color: var(--green);
                    
                    border-radius: 4px;
                }

                .mdc-button__label{
                    color: #fff;
                }
            }
    
            #input-email{
                .mdc-floating-label{
                    top: 50%; 
                }
            
                .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
                    --mat-mdc-form-field-label-transform: translateY(-28px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
                }
            
                .mat-mdc-text-field-wrapper {
                    width: 350px;
                    height: 45px;
                }
                
                .mdc-text-field {
                    align-items: center;
                }
            }

        }

        .content-second{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        
            margin-bottom: 2.5rem;
            padding: 2rem 6rem;

            h1{
                font-weight: 700;
                font-size: 39.5px;
                margin-top: 5px;
            }

            .container-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p{
                    color: var(--gray-lite);
                    font-weight: 500;
                    margin: 0;

                    span{
                        font-weight: 700;
                        color: black;
                    }
                }
               
            }

            .icon-svg{
                svg{
                    width: 85px;
                    height: 100px;
                }
            }
        }

        

    }
}



