/* You can add global styles to this file, and also import other style files */
:root{
  --red: #e81c1cf3;
  --green: #11AF11;
  --gray-lite: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}
