<div class="container">
  <div class="question-container" *ngIf="perguntaAtual != null">
    <div *ngIf="alternativasByPergunta$ | async as alternativas">

      <div class="temporizador" *ngIf="tempoRestante !== undefined && perguntaAtual?.tempo">
        <div class="barra-progresso" [style.width.%]="(tempoRestante / (perguntaAtual?.tempo ?? 1)) * 100"></div>
      </div>

      <h2>{{ perguntaAtual.conteudo }}</h2>
      <img src="/src/assets/anatomia.png" alt="" *ngIf="perguntaAtual.pathimage != null">
      <ul>
        <li *ngFor="let alternativa of alternativas">
          <label class="alternativa-label">
            <div 
              (click)="onSelect(alternativa.id!)"
              [ngClass]="{
                'alternativa-box': true,
                'selected': alternativa.id === alternativaEscolhida,
                'incorrect': alternativa.id === alternativaErrada,
                'shake': alternativa.id === shakeAlternativaId
              }"
            >
              {{ alternativa.conteudo }}
            </div>
          </label>
        </li>
      </ul>

      <div *ngIf="confirmar_continuar" class="button-container">
        <button class="confirm-button" (click)="checkAcerto()">Verificar</button>
      </div>

      <div *ngIf="!confirmar_continuar" class="button-container">
        <button class="confirm-button" (click)="continuar()">Continuar</button>
      </div>
      
    </div>
  </div>

  <div *ngIf="layout">
    <img src="/src/assets/farmacologia.png" alt="">
    <h1>As perguntas acabaram</h1>
  </div>
</div>