body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #aaa;
}

.category-screen {
  width: 90vw;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto; 
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 1.5rem;
}

.category-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 200px; 
  max-width: 250px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative; 
  transition: transform 0.3s ease;
}

.category-box:hover {
  transform: scale(1.05); 
}

.category-content {
  text-align: center;
  cursor: pointer;
}

.category-content p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.image-container {
  background-color: #ededed;
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.category img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category img:hover {
  transform: scale(1.1); 
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #ededed;
  position: absolute;
  bottom: -10px; 
  left: 0;
  right: 0;
  border-radius: 8px;
  border: 1px solid #000;
}

.progress-bar {
  width: 50%; 
  height: 100%;
  background-color: #11af11;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .category-grid {
    justify-content: center; 
    gap: 1rem; 
  }

  .category-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 70vw; 
    max-width: 800px; 
    margin: 0 auto;
    height: auto; 
    padding: 20px; 
    box-sizing: border-box; 
}


  .image-container {
    height: 80px; 
  }

  h1 {
    font-size: 1.5rem; 
  }
}
