<div class="category-screen">
  <h1>{{Titulo}}</h1>
  <!-- <button (click)="redirect()"> aperta ai</button> -->
  <div class="category-grid" *ngIf="dataToView">
    <div class="category-box" *ngFor="let data of dataToView" >
      <div class="category">
        <div class="category-content" (click)="redirect(data.categoriaOrQuiz.id!)">
          <div class="image-container">
            <img [src]="data.categoriaOrQuiz.imagem" alt="{{data.categoriaOrQuiz.descricao}}">
          </div>
          <p>{{data.categoriaOrQuiz.descricao ? data.categoriaOrQuiz.descricao : data.categoriaOrQuiz.titulo}}</p>
        </div>
      </div>
      <div class="progress-bar">
        <!-- <div class="bar" [style.width]="getProgressWidth((data.progresso | async)!)"></div> -->
      </div>
    </div>
  </div>
</div>
