body {
  display: flex;
  margin: 0px;
}

.category-screen {
  // background-color: #EDEDED;
  width: 100%;
  height: 100%;

  padding: 1rem;

  h1{
    font-size: 32px;
    font-weight: 700;
  }
  
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  gap: 1rem;
  // border: 1px solid red;
}

.category-box {
  display: flex;
  padding: 10px;
  border: 1px solid #696969;
  background-color: #fff;
  position: relative; /* adicionado */
  border-radius: 8px;
  margin-bottom: 1.5rem;

}
.category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Define a fonte desejada */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 19px;
    // border: 1px solid blue;
    margin: 0;
  }
}

.category {
  height: auto;
  // border: 1px solid green;
}

.category img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.progress-bar-container {
  // padding: 4px;
  width: 100%;
  height: 10px;
  background-color: #EDEDED; /* Corrigido para a cor da barra de progresso */
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  border: 1px solid #696969;
  border-radius: 8px;

  .progress-bar{
    width: 50%;
    height: 100%;
    background-color: #11af11;
    border-radius: 8px;
    // z-index: 1;
  }
}

.bar {
  height: 100%;
}

.image-container {
  background-color: #EDEDED;
  width: 224px; /* Largura ajustada */
  height: 160px; /* Altura ajustada */
  overflow: hidden;
  display: flex; /* Usando flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  border-radius: 8px;
}
