/* Estilos para o título em telas menores */
@media screen and (max-width: 630px) {
    
    body{
        width: 100%; /* Altere a largura do corpo para ocupar toda a largura da tela */
        overflow-x: hidden; /* Oculta a rolagem horizontal */

    }
    .title {
        color: red;
    }
    
    /* Adicione aqui os estilos específicos para essas dimensões */
    .mat-input-element,
    .mat-select,
    .mat-datepicker-input,
    .mat-form-field,
    .mat-raised-button {
        width: calc(100% - 16px); /* Remove o padding horizontal */
        margin: 8px; /* Adiciona um pequeno espaçamento entre os elementos */
    }

    .mat-form-field-label {
        font-size: 16px; /* Reduz o tamanho da fonte do rótulo */
    }

    .mat-error {
        font-size: 12px; /* Reduz o tamanho da fonte da mensagem de erro */
    }
}
