<div class="main">

  <div class="formulario-inicial">

    <div class="container-title">
      <h1 class="title">Inscreva-se</h1>
    </div>

    <form [formGroup]="formulario">

      <div *ngIf="template" class="inscricao">


        <div class="inf-pessoais">

            <h1 class="subtitle">Informações Pessoais</h1>
            <div class="NomeCompleto">
                <mat-form-field appearance="outline" class="custom-mat-field">
                    <mat-label class="custom-label">Nome Completo</mat-label>
                    <input matInput formControlName="nome" placeholder="Nome Completo" required class="custom-input">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
                        Campo Obrigatório.
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="tel-sex">
                <mat-form-field appearance="outline" class="edicaoTelefone">
                    <mat-label>Telefone</mat-label>
                    <div class="tell">
                        <input matInput formControlName="telefone" placeholder="Telefone" required pattern="^\d{10,}$">
                    </div>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="formulario.get('telefone')?.errors?.['required'] && formulario.get('telefone')?.touched">
                        Campo Obrigatório
                    </mat-error>
                    <mat-error *ngIf="formulario.get('telefone')?.errors?.['pattern'] && formulario.get('telefone')?.touched">
                        O número de telefone deve ter pelo menos 10 dígitos.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="edicaoSexo">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo" placeholder="Selecione" required>
                        <mat-option *ngFor="let sexo of sexos" [value]="sexo.id">{{sexo.sexo}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formulario.get('sexo')?.hasError('required') && formulario.get('sexo')?.touched">
                        Campo Obrigatório.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="estadoEdicao">
                    <mat-label>Estado</mat-label>
                    <select matNativeControl formControlName="uf" (change)="onEstadoChange()" required>
                        <option value="" disabled selected>Selecione um estado</option>
                        <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
                    </select>
                    <mat-error *ngIf="formulario.get('uf')?.errors?.['required'] && formulario.get('uf')?.touched">
                        Selecione um estado.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="cidadeEdicao">
                    <mat-label>Cidade</mat-label>
                    <mat-select formControlName="cidade" placeholder="Selecione uma cidade" required>
                        <mat-option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formulario.get('cidade')?.errors?.['required'] && formulario.get('cidade')?.touched">
                        Campo Obrigatório
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="form-group">
                <mat-form-field appearance="outline" class="dataEdicao">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="datanascimento" placeholder="Escolha uma data" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formulario.get('datanascimento')?.errors?.['required'] && formulario.get('datanascimento')?.touched">
                        Campo Obrigatório
                    </mat-error>
                </mat-form-field>
            </div>


        </div>

        <div class="inf-academicas">
          <h1 class="subtitleAcademico">Informações Acadêmicas</h1>
          <div class="form-group">
              <mat-form-field appearance="outline" class="edicaoCampus">
                  <mat-label>Campus</mat-label>
                  <mat-select formControlName="campusid" placeholder="Informe seu campus">
                      <mat-option *ngFor="let campus of campusList" [value]="campus.id">{{campus.nomecampus}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>



          <div class="form-group">
              <mat-form-field appearance="outline" class="edicaoCurso">
                  <mat-label>Curso</mat-label>
                  <mat-select formControlName="cursoid" placeholder="Selecione um curso">
                      <mat-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nome }}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

          <div class="form-group">
              <mat-form-field appearance="outline" class="edicaoTurma">
                  <mat-label>Turma</mat-label>
                  <input matInput formControlName="turma" placeholder="Nome da Turma">
              </mat-form-field>
          </div>


              <mat-form-field appearance="outline" class="edicaoPeriodo">
                  <mat-label>Período</mat-label>
                  <mat-select formControlName="periodo" placeholder="Selecione o período">
                      <mat-option *ngFor="let periodo of periodos" [value]="periodo.numero">{{ periodo.nome }}</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>

        <div class="botao-container">
          <button mat-raised-button class="botao" (click)="trocarTemplate()">Continuar</button>
        </div>

      </div>

      <div *ngIf="!template" class="emailESenha">
        <h1>E-mail de Usuário</h1>

        <label >Email</label>
        <mat-form-field appearance="outline" #myFormField>
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="formulario.get('email')!.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <label >Senha</label>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hideSenha ? 'password' : 'text'" formControlName="senha">
          <mat-error *ngIf="formulario.get('senha')!.invalid">{{"senha é um campo obrigatorio"}}</mat-error>
          <button mat-icon-button matSuffix (click)="hideSenha = !hideSenha" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideSenha">
            <mat-icon>{{hideSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <label >Confirmar senha</label>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar senha</mat-label>
          <input matInput [type]="hideConfirmarSenha ? 'password' : 'text'" formControlName="confirmarSenha">
          <mat-error *ngIf="formulario.get('confirmarSenha')!.invalid">{{"campo obrigatorio"}}</mat-error>
          <button mat-icon-button matSuffix (click)="hideConfirmarSenha = !hideConfirmarSenha" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmarSenha">
            <mat-icon>{{hideConfirmarSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="botao-container">
          <button mat-raised-button type="submit" class="botao" (click)="onSubmit()">Finalizar</button>
        </div>
      </div>

    </form>

  </div>
</div>
