<div class="content mat-elevation-z4">
    <div class="container">
        <h1>Criar Senha</h1>

        <p>Insira sua nova senha. Por favor, use <br/>sua senha mais forte.</p>

        <form [formGroup]="formData">
            <div class="inputs-box">
              <label > Senha</label>
            <mat-form-field appearance="outline">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" placeholder="**********">
                <mat-error *ngIf="formData.get('senha')!.invalid">{{"campo obrigatorio"}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <label > Confirmar senha</label>
            <mat-form-field appearance="outline">
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" placeholder="**********">
              <mat-error *ngIf="formData.get('senha')!.invalid">{{"campo obrigatorio"}}</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            </div>

                <button mat-flat-button>Definir senha</button>
             

        </form>
    </div>
</div>