app-new-password{
    .content{
        border-radius: 12px;
        padding: 2rem 6rem;

        .container{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            h1{
                font-weight: 700;
                font-size: 42px;
                margin-top: 25px;
            }

            p{
                font-weight: 500;
                font-size: 17px;
                color: var(--gray-lite);

                margin-top: 8px;
            }

            form{
                display: flex;
                flex-direction: column; 
                width: 350px;

                margin-top: 20px;

                label{
                    font-weight: 700;
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                .inputs-box{
                    margin-bottom: 11rem;
                }

                .mat-mdc-text-field-wrapper {
                    margin-top: 5px;
                    width: 350px;
                    height: 45px;
                }

                .mdc-text-field {
                    align-items: center;
                }

                .mat-mdc-unelevated-button{
                    height: 45px;
                    margin-bottom: 15px;
                }
            
                .mat-mdc-button-touch-target{
                    height: 45px;
                }
                
                .mat-mdc-unelevated-button.mat-unthemed {
                    --mdc-filled-button-container-color: var(--green);
                    --mdc-filled-button-label-text-color: #fff;
                }

                .mdc-button__label{
                    font-weight: 700;
                }
            }
            
            
        }
    }





}
