
.container {
  height: 100%;
  width: 100%;
  display: flex;

  .sidebar {
    width: 15rem;
    border-right: 1px solid #dbdbdb;
    height: 100%;

    border: 1px solid green;
    // overflow: hidden;


    .logo {
      height: 77px;
      width: 100%;
      padding: 1rem;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      padding: 1rem;
      height: 100%;
      border: 1px solid red;

      ul{
        :hover{
          transition: .6s;
          background-color: #EDEDED;
        }

        li {
          display: flex;
          align-items: center;
          
          gap: 2.2rem;
          margin-bottom: 0.9rem;
  
          cursor: pointer;
          list-style: none;
          
          padding: 5px 15px;
          border-radius: 4px;
          // border: 1px solid red;
  
          a {
            font-weight: 700;
          } 
        }
      }
      
      
    }

    footer{
        
      padding-top: 1rem;

      border-top: 1px solid #dbdbdb;
      .containerBTN{
        display: flex;
        align-items: center;
        
        gap: 2.2rem;
        padding: 5px 15px;
        border-radius: 4px;
        cursor: pointer;
      }

      .containerBTN:hover{
        transition: .6s;
        background-color: #EDEDED;
      }
    }
  }

  .main {
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      .container {
        border: 1px solid black;
        border-radius: 4px;
        height: 45px;
        width: 350px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 10px;

        i {
          font-size: 20px;
          cursor: pointer;
        }

        .search {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          height: 40px;
          width: auto;

          input {
            border: none;
            outline: none;
            font-size: 16px;
          }
        }
      }

      .perfil-img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 45px;
          width: 45px;
        }
      }
    }

    .content{
      height: 100%;
      background-color: #EDEDED;
    }
  }
}

.quiz{
  border: 1px solid green;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #EDEDED;
}