<div class="category-screen">
  <h1>Início</h1>
  <div class="category-grid" *ngIf="progressoAndCategorias">
    <div class="category-box" *ngFor="let data of progressoAndCategorias" >
      <div class="category">
        <div class="category-content">
          <div class="image-container">
            <img [src]="data.categoria.imagem" alt="{{data.categoria.descricao}}">
          </div>
          <p>{{data.categoria.descricao}}</p>
        </div>
      </div>
      <div class="progress-bar">
        <div class="bar" [style.width]="getProgressWidth((data.progresso | async)!)"></div>
      </div>
    </div>
  </div>
</div>
