<div class="container">

  <div>
    <div class="example-button-container" style="background-color: green;">
      <button (click)="goBack()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
    <p>{{titulo}}</p>
    <div>{{dataForEdit.length}}</div>
    <button (click)="openDialog()">Criar</button>
  </div>

  <div *ngIf="dataForEdit.length > 0">
    <ul *ngFor="let data of dataForEdit">
      <li (click)="redirect(data.dataOfRequest.id!)">
        <img class="imagem" *ngIf="data.dataOfRequest.imagem" src="../../../../assets/anatomia.png" alt="">
        <div >
          {{data.dataOfRequest.descricao ? data.dataOfRequest.descricao : data.dataOfRequest.conteudo}}
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="dataForEdit.length == 0" class="image-default">
    <p>imagem foda</p>
  </div>

</div>
