<div class="ranking-container">

  <div class="podium">

    <div *ngFor="let item of ranking.slice(0, 3); let i = index"
         [class]="returnClassByPodium(i)"
         class="podium-item">
      <div *ngIf="i == 0"
           [ngClass]="'crown'">
        <img src="../../../assets/coroa.png"
             alt="Coroa">
      </div>
      <ng-container *ngIf="showRanking(i)">
        <p class="position">{{i + 1}}</p>
      </ng-container>
      <div class="player-info">
        <p>{{item.nome}}</p>
        <p>{{item.pontuacao}} pontos</p>
      </div>
      <img [src]="item.foto || '../../../assets/coroa.png'"
           alt="{{item.nome}}"
           [class]="returnClassByPosition(i)"
           class="podium-img">
    </div>

  </div>

  <div class="rank-list">
    <div *ngFor="let item of ranking.slice(3); let i = index"
         class="rank-item">
      <p class="position"
         *ngIf="showRanking(i + 3)">{{i + 4}}</p>
      <img [src]="item.foto || 'assets/default-image.jpg'"
           alt="{{item.nome}}"
           class="ranking-image"
           style="width: 100px;height: 100px;">
      <div class="rank-info">
        <p class="rank-name">{{ item.nome }}</p>
        <p class="rank-score">{{ item.pontuacao }} pontos</p>
      </div>
    </div>
  </div>
</div>
