<div class="container">
  <div class="content">
      <!-- <h1>Novo quiz </h1> -->

    <form  [formGroup]="formData" (ngSubmit)="onSubmit()">

      <h1>Novo Quiz</h1>

      <div class="inputImage">
        <label for="arquivo">
            <img src="../../../../assets/addImage.png" alt="add image">
            adicionar imagem
        </label>
        <input type="file" id="arquivo">
      </div>

      <div>
          <h2>Titulo</h2>
          <mat-form-field appearance="outline" #myFormField>
              <input matInput placeholder="Insira um título" formControlName="titulo" required>
              <mat-error *ngIf="formData.get('titulo')!.invalid">{{"O titulo é um campo obrigatorio"}}</mat-error>
          </mat-form-field>
      </div>

      <div class="inputType">
        <h2>Tipo do Quiz</h2>
        <ul>
          <li>
            <input type="radio" id="opcao1" formControlName="avaliativo" value="false">
            <label for="opcao1">Normal</label>
          </li>
          <li>
            <input type="radio" id="opcao2" formControlName="avaliativo" value="true">
            <label for="opcao2">Avaliativo</label>
          </li>
        </ul>
      </div>

      <div id="submit-btn">
        <button mat-flat-button [disabled]="this.formData.invalid" type="submit">Criar</button>

      </div>

    </form>

  </div>
</div>
